workflows/Assistente de SDR com Follow-up - Template.json
{
  "active": false,
  "connections": {
    "Recebe Mensagem": {
      "main": [
        [
          {
            "node": "Filtra Os Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConsultaCliente": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CriaCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriaCliente": {
      "main": [
        [
          {
            "node": "ConsultaCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra Os Dados": {
      "main": [
        [
          {
            "node": "ConsultaCliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Converter Audio em Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MensagemDeTexto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Converter Imagem em Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Audio em Base64": {
      "main": [
        [
          {
            "node": "Converte Audio para Arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte Audio para Arquivo": {
      "main": [
        [
          {
            "node": "Transcreve Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converter Imagem em Base64": {
      "main": [
        [
          {
            "node": "Converte Audio para Arquivo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converte Audio para Arquivo1": {
      "main": [
        [
          {
            "node": "Transcreve Imagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve Audio": {
      "main": [
        [
          {
            "node": "Junta tudo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcreve Imagem": {
      "main": [
        [
          {
            "node": "Junta tudo",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Junta tudo": {
      "main": [
        [
          {
            "node": "RegistraMsgFila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RegistraMsgFila": {
      "main": [
        [
          {
            "node": "BuscaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BuscaMensagem": {
      "main": [
        [
          {
            "node": "VerificaSeÉMaiorQue1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerificaSeÉMaiorQue1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aguarda 5 seg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda 5 seg": {
      "main": [
        [
          {
            "node": "VerificaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VerificaMensagem": {
      "main": [
        [
          {
            "node": "OrganizaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OrganizaMensagem": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MensagemDeTexto": {
      "main": [
        [
          {
            "node": "Junta tudo",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Define Followup False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separa a mensagem em várias": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "PreparaMensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreparaMensagem": {
      "main": [
        [
          {
            "node": "Resposta Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Cliente": {
      "main": [
        [
          {
            "node": "Aguarda 1 segundo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aguarda 1 segundo": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados_lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Define Followup False": {
      "main": [
        [
          {
            "node": "Separa a mensagem em várias",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-13T12:58:01.275Z",
  "id": "mJzZBRjevlVR7pwk",
  "isArchived": false,
  "meta": null,
  "name": "Assistente de SDR com Follow-up - Template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "22325f74-2296-4a9a-8545-666957db188e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1648,
        448
      ],
      "id": "7b7b8b78-6f6a-4846-98ed-551caa06c76d",
      "name": "Recebe Mensagem",
      "webhookId": "22325f74-2296-4a9a-8545-666957db188e"
    },
    {
      "parameters": {
        "databaseId": 223798,
        "tableId": 535707,
        "returnAll": true,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 4273464,
                "value": "={{ $json.cliente.Numero }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -1200,
        448
      ],
      "id": "8f399182-ee33-49e3-b38c-a9bb7c4cbee5",
      "name": "ConsultaCliente",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b73c312-b877-44ce-a916-24d87579f921",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -944,
        448
      ],
      "id": "7257d32c-610f-4d82-be54-de11669b770b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "databaseId": 223798,
        "tableId": 535707,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4273464,
              "fieldValue": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}"
            },
            {
              "fieldId": 4273468,
              "fieldValue": "={{ $('Filtra Os Dados').item.json.cliente.Data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -720,
        640
      ],
      "id": "eaf8755b-a939-42d1-a558-77434c5a20bb",
      "name": "CriaCliente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f61d41a-d3f7-47bd-b1f5-fb8e52265b09",
              "name": "cliente.NomeDoCliente",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "cb4333f0-d993-429b-912e-878e35fe5867",
              "name": "cliente.Numero",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "2968ca77-3987-48bf-90ed-c3e94f4e6a7e",
              "name": "wpp.Mensagem",
              "value": "={{ $json.body.data.message?.base64 || $json.body.data.message.message?.base64 || $json.body.data.message.conversation || null }}",
              "type": "string"
            },
            {
              "id": "2dd9f9f1-13b8-4b94-863f-aab2701c83cf",
              "name": "cliente.Data",
              "value": "={{ $json.body.date_time.toDateTime().format('dd/MM/yyyy') }}",
              "type": "string"
            },
            {
              "id": "2795f1b8-33ba-4e55-8a4c-c20421ad884a",
              "name": "cliente.UltimaMensagem",
              "value": "={{ $json.body.data.key.fromMe }}",
              "type": "boolean"
            },
            {
              "id": "6f3a7ba1-8bff-4c2d-bf6f-0c2e97f34862",
              "name": "wpp.TipoMensagem",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1424,
        448
      ],
      "id": "a6ce67e6-7de1-4849-a2b8-480bbc53cab8",
      "name": "Filtra Os Dados"
    },
    {
      "parameters": {
        "content": "# Passo 01: Recebe Mensagem Consulta e Cadastra Cliente no Banco de Dados",
        "height": 640,
        "width": 1240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1744,
        240
      ],
      "typeVersion": 1,
      "id": "05f93354-3ad8-4519-9a47-8d305e91b268",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Filtra Os Dados').item.json.wpp.TipoMensagem }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e81ee0f9-b636-4db4-b6ff-e26fc5166c72"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "67da8380-4267-4acf-ae1a-f1e78fe7b89b",
                    "leftValue": "={{ $('Filtra Os Dados').item.json.wpp.TipoMensagem }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c215a461-863b-402d-b674-31d2f7c8a92f",
                    "leftValue": "={{ $('Filtra Os Dados').item.json.wpp.TipoMensagem }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -448,
        544
      ],
      "id": "b3804bd3-c6c3-45e5-bb59-0b0f06a700e2",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.outoflow.online/chat/getBase64FromMediaMessage/JonathanRenanIA",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Recebe Mensagem').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        320
      ],
      "id": "8bb5ce49-d987-4cb3-b8e4-8e7b83d9cc06",
      "name": "Converter Audio em Base64"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "audio/ogg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        144,
        320
      ],
      "id": "88950ed8-dc63-4f90-97cf-a4d7f13cad20",
      "name": "Converte Audio para Arquivo"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        384,
        320
      ],
      "id": "a4d1ba42-2a57-4714-9c9c-013186c53438",
      "name": "Transcreve Audio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.outoflow.online/chat/getBase64FromMediaMessage/JonathanRenanIA",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Recebe Mensagem').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        704
      ],
      "id": "7cac7e72-79d9-4fce-bc22-f10c40a4d8b8",
      "name": "Converter Imagem em Base64"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        128,
        688
      ],
      "id": "fdb40d32-f26a-45c2-9994-9a6b4cec68ba",
      "name": "Converte Audio para Arquivo1"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini-2024-07-18",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "text": "=O que há nessa imagem? me de a resposta como se fosse um cliente descrevendo na imagem, comece dizendo: te enviei uma imagem que... Sempre em primeira pessoa, como se você você o cliente. Ao invés de dizer você me enviou, diga eu te enviei.",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        464,
        704
      ],
      "id": "aaad24ca-3fe8-40eb-95f5-45519684ce96",
      "name": "Transcreve Imagem"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        704,
        704
      ],
      "id": "3d0d48b5-c9e7-46ab-af16-f41596bc92ec",
      "name": "Junta tudo"
    },
    {
      "parameters": {
        "content": "# Passo 02: Verifica Se é Áudio, Texto ou Imagem",
        "height": 640,
        "width": 1320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        240
      ],
      "typeVersion": 1,
      "id": "e1d54040-5028-4acc-8da6-fe8ed9c8ab7d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}",
        "messageData": "={{ $json.values() }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        992,
        544
      ],
      "id": "bbecdd67-2fe4-4d5b-a4b1-8fb0b0de2dcc",
      "name": "RegistraMsgFila"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Name",
        "key": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1200,
        544
      ],
      "id": "5ad7f866-d1df-442e-bb0b-274913a69426",
      "name": "BuscaMensagem"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1680,
        320
      ],
      "id": "3db88c1a-aa59-45a3-95dc-abdc8389fbb7",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ed61dda5-aa47-4af3-b4e1-e5b87270c6eb",
              "leftValue": "={{ $json.Name.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        544
      ],
      "id": "ea4414aa-21e7-43ac-b46a-116e752ec798",
      "name": "VerificaSeÉMaiorQue1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1680,
        704
      ],
      "id": "581a6f0f-6e0f-4433-9d18-90716cd37049",
      "name": "Aguarda 5 seg",
      "webhookId": "c09fff47-c117-40dd-a483-44dc30cc5006"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "Name",
        "key": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1904,
        704
      ],
      "id": "4a3072ee-e755-41c6-a0d1-9ec34fa0195a",
      "name": "VerificaMensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0db8300a-ad92-480c-88fb-bb187a7f536a",
              "name": "Mensagem",
              "value": "={{ $json.Name.reverse().join(\"\\n\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2112,
        704
      ],
      "id": "3ee2b79f-7888-4418-ac32-12838fd773c9",
      "name": "OrganizaMensagem"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2320,
        704
      ],
      "id": "c3331dba-c770-47a1-b43a-c478bbfad60c",
      "name": "Redis"
    },
    {
      "parameters": {
        "content": "# Passo 03: Cria Fila de Mensagens",
        "height": 660,
        "width": 1680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        272
      ],
      "typeVersion": 1,
      "id": "493e8095-c52d-4efd-a636-c2e86ed7cee0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "161406a2-1c53-4229-ad18-a6552d912b9a",
              "name": "Mensagem",
              "value": "={{ $('Filtra Os Dados').item.json.wpp.Mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        528
      ],
      "id": "a90cd964-49c7-4762-aa7f-1f8f43fff517",
      "name": "MensagemDeTexto"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1968,
        320
      ],
      "id": "7fa29c1d-5340-463b-807a-3deee4f62b7c",
      "name": "Redis1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('OrganizaMensagem').item.json.Mensagem }}",
        "options": {
          "systemMessage": "=<quem é você>\nVocê é Will, um assistente de inteligência artificial especializado em qualificação de leads. Seu papel é fazer perguntas uma a uma, salvar cada resposta imediatamente no banco de dados (tool `dados_lead`) e ser educado, amigável e eficiente. Você age como um SDR.\n</quem é você>\n\n<instruções>\n\n1. Você fará **exatamente 3 perguntas**, **uma por vez**, e **só poderá avançar para a próxima pergunta depois que a resposta anterior for salva com a ferramenta `dados_lead`.**\n\n2. A ordem das perguntas é:\n   - Nome\n   - Problema\n   - Ticket médio\n\n3. Utilize a seguinte lógica:\n\n- Se **ainda não tem o nome**, pergunte: **\"Pra começar, qual é o seu nome?\"**\n- Quando o usuário responder, salve com `dados_lead`. Depois disso, **pare a execução e aguarde**.\n- Quando o nome já estiver salvo, pergunte: **\"Prazer, [nome]! Qual é o principal problema que você quer resolver hoje?\"**\n- Ao obter a resposta, salve com `dados_lead` e **pare a execução novamente**.\n- Quando o problema já estiver salvo, pergunte: **\"E só pra entender melhor: qual é o ticket médio da sua empresa?\"**\n- Após a resposta, salve com `dados_lead` e finalize dizendo: **\"Perfeito! Obrigado pelas informações, em breve um especialista vai falar com você. 😊\"**\n\n4. Nunca pule etapas. Nunca pergunte duas coisas na mesma mensagem.\n\n</instruções>\n\n<uso_de_tools>\n- Sempre que o cliente responder, use a tool `dados_lead` para salvar **apenas aquela informação específica**.\n- Exemplo: após perguntar o nome e receber a resposta \"Carlos\", salve: `dados_lead` e só depois pergunte o problema.\n</uso_de_tools>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -560,
        1168
      ],
      "id": "d1373a88-1ed9-49bc-952f-67baa68d3b82",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -928,
        1280
      ],
      "id": "6951a075-2aa1-4ff7-9aab-a78b67775435",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filtra Os Dados').item.json.cliente.Numero }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -784,
        1344
      ],
      "id": "725010af-633a-4e24-8212-b5cac84df828",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8048e5b0-2357-4635-a319-2adba11ec6d5",
              "name": "Resposta",
              "value": "={{ $('AI Agent').item.json.output.split('\\n\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        1120
      ],
      "id": "fd0fbb2e-8737-4757-8958-5682c1bcda16",
      "name": "Separa a mensagem em várias"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Resposta",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        1120
      ],
      "id": "d1cdf991-fe30-4f89-81ca-9f23e5108b9d",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "# Passo 04: Processa Resposta do Agente",
        "height": 700,
        "width": 1940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1360,
        1024
      ],
      "typeVersion": 1,
      "id": "fd51c77f-adc5-4a44-8994-21a45577a25d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        1184
      ],
      "id": "dc6c0a17-628d-433a-a052-8827578790c4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1488,
        1424
      ],
      "id": "42074754-a36e-4da6-9407-7f1c2aa74ce1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "482e06d1-4988-4b93-95d0-31475b0dd193",
              "name": "Resposta",
              "value": "={{ $('Split Out').item.json.Resposta.replaceAll('\"','\\\\\"').replaceAll('\\n','\\\\n').replaceAll('*','\\*').replaceAll('#','').replace(/[\\u0000-\\u001F\\u007F]/g, \"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        1200
      ],
      "id": "3250d01e-013e-4f02-9c6a-9e2ff3490c9f",
      "name": "PreparaMensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution.outoflow.online/message/sendText/Will_01",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Filtra Os Dados').item.json.cliente.Numero }}\",\n  \"text\": \"{{ $json.Resposta }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        1200
      ],
      "id": "6dba4bd3-6674-48c2-b51f-dd37fa97578e",
      "name": "Resposta Cliente"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        1424
      ],
      "id": "dcbb2c51-ae10-4ecd-8367-b0a62debafce",
      "name": "Aguarda 1 segundo",
      "webhookId": "7660df9f-d252-4157-8610-216acedf8def"
    },
    {
      "parameters": {
        "content": "# Passo 05: Envia Resposta para o Cliente",
        "height": 680,
        "width": 1040,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        1008
      ],
      "typeVersion": 1,
      "id": "9a3d05d0-1ed7-40b8-9995-f3bff0f41e60",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# ASSISTENTE SDR com FOLLOW-UP\n# DOMINANDO AUTOMAÇÕES ",
        "height": 140,
        "width": 760,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "2e60118b-cee7-4621-bedc-f4eee460be57",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Faz update no BD",
        "height": 220,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        1408
      ],
      "typeVersion": 1,
      "id": "711a1a65-fa05-494f-b72e-4f3ea3a9873f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Útil para salvar as informações de nome, problema e ticket do cliente.",
        "operation": "update",
        "databaseId": 223798,
        "tableId": 535707,
        "rowId": "={{ $('If').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4273465,
              "fieldValue": "={{ $fromAI('4273465', 'Salva o nome do cliente') }}"
            },
            {
              "fieldId": 4273469,
              "fieldValue": "={{ $fromAI('4273469', 'Salva problema do cliente') }}"
            },
            {
              "fieldId": 4273470,
              "fieldValue": "={{ $fromAI('4273470', 'Salva o ticket do cliente') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserowTool",
      "typeVersion": 1,
      "position": [
        -256,
        1472
      ],
      "id": "2c82ef34-198b-4bac-a696-01982c5dbe15",
      "name": "dados_lead"
    },
    {
      "parameters": {
        "operation": "update",
        "databaseId": 223798,
        "tableId": 535707,
        "rowId": "={{ $('If').item.json.id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": 4273471,
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        -16,
        1152
      ],
      "id": "527d400a-06be-4da4-a409-13688b851bf9",
      "name": "Define Followup False"
    }
  ],
  "pinData": {
    "Recebe Mensagem": [
      {
        "json": {
          "headers": {
            "host": "primary-production-05f2.up.railway.app",
            "user-agent": "axios/1.7.7",
            "content-length": "993",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "135.181.82.127",
            "x-forwarded-host": "primary-production-05f2.up.railway.app",
            "x-forwarded-proto": "https",
            "x-railway-edge": "railway/europe-west4-drams3a",
            "x-railway-request-id": "Uzd-ILhpR3moGdqqm3z_FQ",
            "x-real-ip": "135.181.82.127",
            "x-request-start": "1747082751665"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Will",
            "data": {
              "key": {
                "remoteJid": "555197129135@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB03B83F35466F9E2F063"
              },
              "pushName": "Jonathan Renan",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "salve as informaçoes",
                "messageContextInfo": {
                  "deviceListMetadata": {
                    "senderKeyHash": "iJnEeH+9GbKHKA==",
                    "senderTimestamp": "1746527552",
                    "senderAccountType": "E2EE",
                    "receiverAccountType": "E2EE",
                    "recipientKeyHash": "inyla8ffdfYLfQ==",
                    "recipientTimestamp": "1746644009"
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": "jJB9X9LReXRiNAYgEmAk8JLPCXRqXZ7x/Fev5WNDvc8="
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1747082751,
              "instanceId": "1cb52435-eaf1-474f-b3ae-3981c7c2d02b",
              "source": "web"
            },
            "destination": "https://primary-production-05f2.up.railway.app/webhook/22325f74-2296-4a9a-8545-666957db188e",
            "date_time": "2025-05-12T17:45:51.562Z",
            "sender": "555181438282@s.whatsapp.net",
            "server_url": "https://evolution.outoflow.online",
            "apikey": "90775D0CAD32-478F-BCCA-05F89237523B"
          },
          "webhookUrl": "https://primary-production-05f2.up.railway.app/webhook/22325f74-2296-4a9a-8545-666957db188e",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-13T12:58:01.282Z",
      "createdAt": "2025-11-13T12:58:01.282Z",
      "role": "workflow:owner",
      "workflowId": "mJzZBRjevlVR7pwk",
      "projectId": "NmjiBPxycE3xYO0z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-13T12:58:01.000Z",
  "versionId": "51c61238-6b6e-4ecb-8faa-da1bc350ef6b"
}