workflows/Cloudflare Workers AI Flux subworkflow.json
{
  "active": false,
  "connections": {
    "Get accounts": {
      "main": [
        [
          {
            "node": "Get Flux Schnell image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Flux Schnell image": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check image size": {
      "main": [
        [
          {
            "node": "Image > 1 megapixel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup workflow": {
      "main": [
        [
          {
            "node": "Check image size",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Setup workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-28T17:29:30.314Z",
  "id": "QBsCbosndq4KDub5",
  "isArchived": false,
  "meta": null,
  "name": "Cloudflare Workers AI Flux subworkflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        512
      ],
      "id": "8e6bfef7-5500-42ad-8434-7b658e7aac59",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "result.image",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        848,
        496
      ],
      "id": "de345e42-703b-4cb6-8b0b-6ba13b311f54",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "url": "https://api.cloudflare.com/client/v4/accounts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        496
      ],
      "id": "76525a43-8492-4c4a-b691-cc1c7894d6ad",
      "name": "Get accounts",
      "credentials": {
        "httpBearerAuth": {
          "id": "NtJrHgY4lz4CHKrR",
          "name": "Cloudflare Workers"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.cloudflare.com/client/v4/accounts/1/d85b60c83d599eb4c29f6f10c80b4759/run/@cf/black-forest-labs/flux-1-schnell",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ \n\nJSON.stringify(\n  {\n    prompt: $('Setup workflow').item.json.prompt,\n    seed: $('Setup workflow').item.json.seed,\n    \"width\": $('Setup workflow').item.json.width,\n    \"height\": $('Setup workflow').item.json.height,\n    \"steps\": $('Setup workflow').item.json.steps\n  }\n) \n\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        496
      ],
      "id": "bf107cb4-0606-4010-b6a9-7fef72f7f2e9",
      "name": "Get Flux Schnell image",
      "credentials": {
        "httpBearerAuth": {
          "id": "NtJrHgY4lz4CHKrR",
          "name": "Cloudflare Workers"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "The size of the image (width x height) is larger than 1 megapixel"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        112,
        304
      ],
      "id": "2b1d4cd7-c5fd-4d09-8f29-642b21c851ba",
      "name": "Image > 1 megapixel"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6e30a82-76cd-4bfd-9bc5-b7fffb15e35c",
              "leftValue": "={{ $json.width * $json.height > 1048576 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        480
      ],
      "id": "10984d61-c51c-4445-a522-4c95e89e1209",
      "name": "Check image size"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f7d5020-0710-4f3c-858f-0485a2bd2963",
              "name": "width",
              "value": "={{ $json.width || 1024 }}",
              "type": "number"
            },
            {
              "id": "39b906fa-3e0b-45b9-9c1b-95cbc51e195d",
              "name": "prompt",
              "value": "=canguru com roupa de basquete NBA",
              "type": "string"
            },
            {
              "id": "3f8593d2-cfb3-437a-a9fc-4430995cb78f",
              "name": "height",
              "value": "={{ $json.height || 1024 }}",
              "type": "number"
            },
            {
              "id": "065181ef-404a-4860-9019-976e6e8391e0",
              "name": "seed",
              "value": "={{ Math.floor(Math.random() * 100000000) }}",
              "type": "number"
            },
            {
              "id": "2c131da3-e708-4468-bb09-d400e7e5f28c",
              "name": "steps",
              "value": 4,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        496
      ],
      "id": "f6da7282-c0cd-4f92-8f71-4ac1b916ddc0",
      "name": "Setup workflow"
    },
    {
      "parameters": {
        "content": "# 🚨Add the CloudFlare API token, read this carefully\n\n### Add the workers AI authentication template\n### Then edit the token, and add the `Accounts -> Account Settings (Read)` permission and save it",
        "height": 416,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        288,
        240
      ],
      "id": "fc4ffd0a-9f42-4115-a116-892482fe39cc",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-28T17:29:30.317Z",
      "createdAt": "2025-11-28T17:29:30.317Z",
      "role": "workflow:owner",
      "workflowId": "QBsCbosndq4KDub5",
      "projectId": "NmjiBPxycE3xYO0z"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-28T17:43:09.000Z",
  "versionId": "27e6f17e-6fde-4ea6-a337-85c7d97dc17d"
}