workflows/Posta Tk: Saude Alegria Brasil.json
{
  "active": true,
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza o título e descrição": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho de Agendamento": {
      "main": [
        [
          {
            "node": "Criador de títulos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posta no Yotube": {
      "main": [
        []
      ]
    },
    "Faz Download do Vídeo": {
      "main": [
        [
          {
            "node": "Posta no Yotube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gatilho de Agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Apaga do Drive Para Não Lotar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criador de títulos": {
      "main": [
        [
          {
            "node": "Organiza o título e descrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-10T15:43:32.388Z",
  "id": "oCeXre6im5Y90AlH",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Posta Tk: Saude Alegria Brasil",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/folders/1_Vx_QymHHCQno7hXWajNp7c487hc60fe?usp=sharing",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2048,
        352
      ],
      "id": "39eafe55-25f4-4ed0-a51e-bcd134c83e83",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GZzhvSb2OTh5Dcx2",
          "name": "Lucashrodrigues.contato"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12ccda93-c33b-42a2-86b4-63a7d1c67c7c",
              "name": "titulo",
              "value": "={{$json.message.content.match(/título:\\s?([^\\n;]+)/i)[1].trim().replace(/(\\\\n)+$/, \"\")}}",
              "type": "string"
            },
            {
              "id": "50e423af-3bd6-4274-916b-9341d3ee36a8",
              "name": "descricao",
              "value": "=",
              "type": "string"
            },
            {
              "id": "6e2486f1-8c9f-4a55-90b8-785f128f1287",
              "name": "id",
              "value": "={{ $item(\"0\").$node[\"Gatilho de Agendamento\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        336
      ],
      "id": "b6889d19-7020-4f46-b652-5d4aafb770e1",
      "name": "Organiza o título e descrição"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 7 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 0 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 0 17 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2304,
        352
      ],
      "id": "bf669261-a9d6-4069-b29d-693970398a8a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const lista = $input.all();\nif (lista.length > 0) {\n  const idx = Math.floor(Math.random() * lista.length);\n  return [{ json: lista[idx].json ? lista[idx].json : lista[idx] }];\n} else {\n  return [{ json: { erro: \"Nenhum vídeo encontrado!\" } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        336
      ],
      "id": "18bf697c-29c4-424a-81ae-d1f708d0ff17",
      "name": "Gatilho de Agendamento"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"Organiza o título e descrição\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -16,
        -32
      ],
      "id": "1e54910a-1ad3-4cb9-8418-ebdc36b3f9f0",
      "name": "Apaga do Drive Para Não Lotar",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GZzhvSb2OTh5Dcx2",
          "name": "Lucashrodrigues.contato"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $item(\"0\").$node[\"Organiza o título e descrição\"].json[\"titulo\"] }}",
        "regionCode": "BR",
        "categoryId": "22",
        "options": {
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        48,
        320
      ],
      "id": "a4f3f2fd-9256-4338-b1b7-8699e405d997",
      "name": "Posta no Yotube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "0vBlqotpLyIAmtwh",
          "name": "SombraPolicial(personavital)"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"Organiza o título e descrição\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        336
      ],
      "id": "a7b9e38e-6e67-49c0-aebd-1cf6ceeef830",
      "name": "Faz Download do Vídeo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GZzhvSb2OTh5Dcx2",
          "name": "Lucashrodrigues.contato"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69510c74-a1ec-4427-a86a-9c4414ab23a4",
              "leftValue": "={{ $json.name }}",
              "rightValue": "=null",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1840,
        352
      ],
      "id": "c2b8f251-b62e-4641-a6e0-5a872096bce0",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1472,
        528
      ],
      "id": "8416457b-d4d3-4fd1-8a61-ad001f685328",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oDYiUM1QexeR4tAxv_AWvvFbcOxocWag2xa2iWa24lw",
          "mode": "list",
          "cachedResultName": "Posta no Tiktok Saude Alegria",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oDYiUM1QexeR4tAxv_AWvvFbcOxocWag2xa2iWa24lw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oDYiUM1QexeR4tAxv_AWvvFbcOxocWag2xa2iWa24lw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video URL": "=https://drive.google.com/uc?export=download&id={{ $json.id }}",
            "Title": "={{ $json.titulo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -304,
        -16
      ],
      "id": "85f57857-88ba-42e6-b712-3650df8cd747",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VE0wOhsD3v5Kyh1j",
          "name": "lucashrodrigues.contato1"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=voce é um assistente que cria títulos e descrição para o vídeo: {{ $json.name }}\n\nUtilze técnicas de SEO. Você está produzindo os títulos para as redes saude e alegria brasil. tema saude, dicas de saude, dicas de qualidade de vida, mittos sobre saude. Até 60 caracteres, mas prefira títulos breves. Insira até 3 hashtahs bem posicionadas no final do título. \n\nvocê retorna uma lista assim:\n\n{\ntítulo: xxx xxx xxx\n};\n{\ndescrição: xxxxxxx xxxxxxx\nxxxxxx\n};\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1136,
        336
      ],
      "id": "18862b07-3fff-4693-b31d-d683908dbcb6",
      "name": "Criador de títulos",
      "credentials": {
        "openAiApi": {
          "id": "hUeuyUw9Kcd7zMUh",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-11-10T15:43:32.391Z",
      "createdAt": "2025-11-10T15:43:32.391Z",
      "role": "workflow:owner",
      "workflowId": "oCeXre6im5Y90AlH",
      "projectId": "bO4i25vlXKSokoz6"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-10T17:16:30.000Z",
  "versionId": "56dfa89a-f247-401c-bb62-c161737736a5"
}