workflows/Posta Tk: Saude Alegria Brasil.json
{
  "active": true,
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza o título e descrição": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho de Agendamento": {
      "main": [
        [
          {
            "node": "Criador de títulos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faz Download do Vídeo": {
      "main": [
        [
          {
            "node": "Posta no Yotube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gatilho de Agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Apaga do Drive Para Não Lotar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criador de títulos": {
      "main": [
        [
          {
            "node": "Organiza o título e descrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-12T09:38:53.188Z",
  "id": "JJiDDXVxTC96EtTY",
  "isArchived": false,
  "meta": null,
  "name": "Posta Tk: Saude Alegria Brasil",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/folders/1_Vx_QymHHCQno7hXWajNp7c487hc60fe",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2032,
        384
      ],
      "id": "d3fba263-c0a1-4166-b081-676cae14c214",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0DTtEIAh2oPOvzG",
          "name": "lucasrodrigues.contato"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12ccda93-c33b-42a2-86b4-63a7d1c67c7c",
              "name": "titulo",
              "value": "={{$json.message.content.match(/título:\\s?([^\\n;]+)/i)[1].trim().replace(/(\\\\n)+$/, \"\")}}",
              "type": "string"
            },
            {
              "id": "50e423af-3bd6-4274-916b-9341d3ee36a8",
              "name": "descricao",
              "value": "=",
              "type": "string"
            },
            {
              "id": "6e2486f1-8c9f-4a55-90b8-785f128f1287",
              "name": "id",
              "value": "={{ $item(\"0\").$node[\"Gatilho de Agendamento\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        368
      ],
      "id": "40705a70-969a-434a-99ee-5c72971b73f4",
      "name": "Organiza o título e descrição"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 7 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 0 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 0 17 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2288,
        384
      ],
      "id": "28a320a4-9830-432b-87fe-990dad69583f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const lista = $input.all();\nif (lista.length > 0) {\n  const idx = Math.floor(Math.random() * lista.length);\n  return [{ json: lista[idx].json ? lista[idx].json : lista[idx] }];\n} else {\n  return [{ json: { erro: \"Nenhum vídeo encontrado!\" } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        368
      ],
      "id": "18a818c5-84d9-440d-af37-c4b01a84e248",
      "name": "Gatilho de Agendamento"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"Organiza o título e descrição\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "5c446ef8-f6d3-461e-8192-397e9428fe6d",
      "name": "Apaga do Drive Para Não Lotar",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0DTtEIAh2oPOvzG",
          "name": "lucasrodrigues.contato"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $item(\"0\").$node[\"Organiza o título e descrição\"].json[\"titulo\"] }}",
        "regionCode": "BR",
        "categoryId": "22",
        "options": {
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        64,
        352
      ],
      "id": "9c844354-27c7-4194-96cd-b671f84de9c8",
      "name": "Posta no Yotube",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"Organiza o título e descrição\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -368,
        368
      ],
      "id": "37653f48-6c0c-4428-8639-3d7842b02866",
      "name": "Faz Download do Vídeo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "s0DTtEIAh2oPOvzG",
          "name": "lucasrodrigues.contato"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69510c74-a1ec-4427-a86a-9c4414ab23a4",
              "leftValue": "={{ $json.name }}",
              "rightValue": "=null",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1824,
        384
      ],
      "id": "62c2507d-0753-4bd3-870e-e0a6268ae432",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1456,
        560
      ],
      "id": "a70ee8fd-6eb6-4f3c-8623-29c19d738f09",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1oDYiUM1QexeR4tAxv_AWvvFbcOxocWag2xa2iWa24lw",
          "mode": "list",
          "cachedResultName": "Posta no Tiktok Saude Alegria",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oDYiUM1QexeR4tAxv_AWvvFbcOxocWag2xa2iWa24lw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oDYiUM1QexeR4tAxv_AWvvFbcOxocWag2xa2iWa24lw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Video URL": "=https://drive.google.com/uc?export=download&id={{ $json.id }}",
            "Title": "={{ $json.titulo }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -288,
        16
      ],
      "id": "08e508e2-cd74-4b05-ba9a-20a7713c9cc9",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2zA5xm2J8G6YQave",
          "name": "lucasrodrigues.contato"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=voce é um assistente que cria títulos e descrição para o vídeo: {{ $json.name }}\n\nUtilze técnicas de SEO. Você está produzindo os títulos para as redes saude e alegria brasil. tema saude, dicas de saude, dicas de qualidade de vida, mittos sobre saude. Até 60 caracteres, mas prefira títulos breves. Insira até 3 hashtahs bem posicionadas no final do título. \n\nvocê retorna uma lista assim:\n\n{\ntítulo: xxx xxx xxx\n};\n{\ndescrição: xxxxxxx xxxxxxx\nxxxxxx\n};\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1120,
        368
      ],
      "id": "03f3c18d-d441-4ad8-9f00-3fd8657ec507",
      "name": "Criador de títulos",
      "credentials": {
        "openAiApi": {
          "id": "9tAaYio9SqQQ0jDd",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2025-11-12T09:38:53.190Z",
      "createdAt": "2025-11-12T09:38:53.190Z",
      "role": "workflow:owner",
      "workflowId": "JJiDDXVxTC96EtTY",
      "projectId": "NmjiBPxycE3xYO0z"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-12T10:58:35.000Z",
  "versionId": "d8a9d761-bcb9-4c2e-bc94-4f17a02d4549"
}