workflows/Posta Yt e Tk: Cortes da Reflexão.json
{
  "active": true,
  "connections": {
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organiza o título e descrição": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Faz Download do Vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gatilho de Agendamento": {
      "main": [
        [
          {
            "node": "Criador de títulos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Posta no Yotube": {
      "main": [
        [
          {
            "node": "Apaga do Drive Para Não Lotar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Faz Download do Vídeo": {
      "main": [
        [
          {
            "node": "Posta no Yotube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Gatilho de Agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criador de títulos": {
      "main": [
        [
          {
            "node": "Organiza o título e descrição",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-10T15:32:24.097Z",
  "id": "7C2tAtSImEmHJm6w",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Posta Yt e Tk: Cortes da Reflexão",
  "nodes": [
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "https://drive.google.com/drive/folders/18_wj44gOMw7_LSdKL_bwmqHh0OPUesgs",
            "mode": "url"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2048,
        352
      ],
      "id": "cc787027-1a44-4748-a4a0-49c03b838006",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GZzhvSb2OTh5Dcx2",
          "name": "Lucashrodrigues.contato"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "12ccda93-c33b-42a2-86b4-63a7d1c67c7c",
              "name": "titulo",
              "value": "={{$json.message.content.match(/título:\\s?([^\\n;]+)/i)[1].trim().replace(/(\\\\n)+$/, \"\")}}",
              "type": "string"
            },
            {
              "id": "50e423af-3bd6-4274-916b-9341d3ee36a8",
              "name": "descricao",
              "value": "=",
              "type": "string"
            },
            {
              "id": "6e2486f1-8c9f-4a55-90b8-785f128f1287",
              "name": "id",
              "value": "={{ $item(\"0\").$node[\"Gatilho de Agendamento\"].json[\"id\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        320
      ],
      "id": "0d59427e-9f14-46c8-894d-cb047a51bee8",
      "name": "Organiza o título e descrição"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 7 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 0 12 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0 0 17 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2304,
        352
      ],
      "id": "cd3b67de-253f-4330-89d3-5c44181bc727",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const lista = $input.all();\nif (lista.length > 0) {\n  const idx = Math.floor(Math.random() * lista.length);\n  return [{ json: lista[idx].json ? lista[idx].json : lista[idx] }];\n} else {\n  return [{ json: { erro: \"Nenhum vídeo encontrado!\" } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        336
      ],
      "id": "10f7e493-efca-4b34-b4ad-c10a6584ab20",
      "name": "Gatilho de Agendamento"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"Organiza o título e descrição\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        272
      ],
      "id": "922045b3-43f1-4349-8924-9968ff61fd38",
      "name": "Apaga do Drive Para Não Lotar",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GZzhvSb2OTh5Dcx2",
          "name": "Lucashrodrigues.contato"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $item(\"0\").$node[\"Organiza o título e descrição\"].json[\"titulo\"] }}",
        "regionCode": "BR",
        "categoryId": "22",
        "options": {
          "privacyStatus": "public"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        48,
        288
      ],
      "id": "6d231b7b-27d4-4253-a0db-959d3cdfd1f5",
      "name": "Posta no Yotube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "VZraptZW5PBm9Fo7",
          "name": "Corte da reflexão"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"Organiza o título e descrição\"].json[\"id\"] }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -384,
        336
      ],
      "id": "5c0cbc15-1fea-4732-8768-3e87946526c4",
      "name": "Faz Download do Vídeo",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GZzhvSb2OTh5Dcx2",
          "name": "Lucashrodrigues.contato"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "69510c74-a1ec-4427-a86a-9c4414ab23a4",
              "leftValue": "={{ $json.name }}",
              "rightValue": "=null",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1840,
        352
      ],
      "id": "9e8efe44-95b7-43db-ad20-bac16f792046",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1472,
        528
      ],
      "id": "707dac3a-46a9-4304-8672-a0d6b59f33ec",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1og9Y5LWKu9wlaJxmhSA_DUpqbBVKMt5ED5_w2G3xijU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-US2yqAEMPGy0fT-r2rZRIAFN-RTnHuvvAT6Uw6v9-M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Título": "={{ $item(\"0\").$node[\"Organiza o título e descrição\"].json[\"titulo\"] }}",
            "Vídeo": "=https://drive.google.com/uc?export=download&id={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Vídeo",
              "displayName": "Vídeo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Título",
              "displayName": "Título",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -304,
        -16
      ],
      "id": "1b66d7d4-4ca3-4d0b-8c2f-3d8db0fad8de",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VE0wOhsD3v5Kyh1j",
          "name": "lucashrodrigues.contato1"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=voce é um assistente que cria títulos e descrição para o vídeo: {{ $json.name }}\n\nUtilze técnicas de SEO. Você está produzindo os títulos para as redes cortes da reflexão. tema de curiosidades biblicas, curiosidades cristãs, mentalidade, teologia.. Até 60 caracteres, mas prefira títulos breves. Insira até 3 hashtahs bem posicionadas no final do título. \n\nvocê retorna uma lista assim:\n\n{\ntítulo: xxx xxx xxx\n};\n{\ndescrição: xxxxxxx xxxxxxx\nxxxxxx\n};\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1136,
        336
      ],
      "id": "807b8c59-5ec3-41dd-b041-0a04e38a876f",
      "name": "Criador de títulos",
      "credentials": {
        "openAiApi": {
          "id": "hUeuyUw9Kcd7zMUh",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-10T16:05:24.000Z",
  "versionId": "98d41658-c8a9-4c30-84b8-be954d9dae14"
}